html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: rgb(236, 236, 236);
  margin: none;
}

.container {

  margin-top: 40px;
  margin-left: 1%;
  margin-right: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  width: 80%;
  min-width: 300px;
}

.section {
  width: 80%;
  min-width: 300px;
}

.section__title {
  padding: 20px;
  margin-bottom: 2px;
  background-color: white;
  margin-top: 2px;
}

.section__form {
  padding: 20px;
  background-color: white;
  display: flex;
  justify-content: flex-start;
}

.section__list {
  padding: 20px;
  background-color: white;
  margin-top: 0;
  list-style: none;
}

.section__input {
  margin-right: 10px;
  flex: 1;
  border: 1px solid #ccc;
  padding: 5px;
  height: 40px;
}

.section__button {
  max-width: 150px;
  min-width: 113px;
  height: 30px;
  background-color: teal;
  color: white;
  border: none;
  height: 40px;
}

.section__taskRow {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 8px;
  border-bottom: 2px solid #e9e7e7;
}

.section__iconCheck {
  max-width: 30px;
}

.section__iconRemove {
  max-width: 30px;
}

.section__done {
  border: none;
  background-color: white;
}

.section__remove {
  border: none;
  background-color: white;
}

.section__individualTask {
  cursor: default;
}

@media screen and (max-width: 650px) {
  .section__form {
      flex-direction: column;
  }

  .section__input {
      margin-bottom: 10px;
      max-width: 100%;
      margin-right: 0px;
      height: 40px;
      flex-basis: 40px;
  }

  .section__button {
      max-width: 100%;
      transition: background-color 0.3s, transform 0.3s;
  }

  .container {
      margin: 10%;
  }

  .section__titleAndToggleButtons {
      flex-direction: column;
  }

  .js-buttonsTaskList {
      display: flex;
      flex-direction: column;
      margin-right: 1px;
  }

  .section__toggleTasksDone {
      padding: 10px;
      margin: 0;
  }

  .section__allDoneButton {
      padding: 10px;
      margin: 0;
  }
}

@media screen and (max-width: 900px) {
  .title {
      width: 100%;
      margin: 1px;
  }

  .section {
      width: 100%;
  }

  .container {
      margin: 10%;
  }
}

.section__toggleTasksDone {
  background-color: white;
  border: none;
  color: teal;
  transition: 1s;
}

.section__toggleTasksDone:hover {
  color: rgb(0, 193, 193);
}

.section__allDoneButton {
  background-color: white;
  border: none;
  color: teal;
  transition: 1s;
}

.section__allDoneButton:hover {
  color: rgb(0, 193, 193);
}

.section__hiddenItem {
  display: none;
}

.section__titleAndToggleButtons {
  background-color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section__toggleButtons {
  background-color: white;
  padding: 20px;
  margin-bottom: 2px;
  margin-right: 10px;
  background-color: white;
}

.js-buttonsTaskList {
  margin-right: 20px;
}

.section__done {
  background-color: darkgreen;
  color: white;
  margin: 2px;
  width: 30px;
  height: 30px;
  transition: 1s;
}

.section__remove {
  background-color: red;
  color: white;
  margin: 2px;
  width: 30px;
  height: 30px;
  transition: 1s;
}

.section__lineThrough {
  text-decoration: line-through;
}

.section__done:hover {
  background-color: rgb(0, 182, 0);
}

.section__remove:hover {
  background-color: rgb(255, 108, 108);
}

button:disabled {
  color: gray;
  cursor: not-allowed;
}

button:disabled:hover {
  color: gray;
  cursor: not-allowed;
}

.section__button:hover {
  transform: scale(1.05);
  background-color: rgb(17, 174, 174);
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}